<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets""
        xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.richago.hosteldhaba"
        version="0.0.4"
        android-versionCode="008"
>
    
    <name>HOSTEL DHABA</name>
    <description>ONLINE DHABA FOOD DELIVERY IN RAIPUR</description>
    <author email="pawan@richago.com" href="https://richago.com">Company</author>
    
    <content src="https://hosteldhaba.com" />
    
   
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="phonegap-version" value="cli-7.1.0" />
<preference name="permissions" value="none" />
<preference name="orientation" value="default" />
<preference name="fullscreen" value="false" />
<preference name="LoadUrlTimeoutValue" value="1000000" />
<preference name="BackupWebStorage" value="local" />
<preference name="android-build-tool" value="gradle" /> 
<preference name="SplashScreenDelay" value="7000" />
                                             
    <icon src="icon.png" />
    <splash src="splash.png" />
    
 <!-- iOS specific -->
    <platform name="ios">
        <preference name="target-device" value="universal" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="disable-cursor" value="false"/>
        <preference name="prerendered-icon" value="false" />
        <preference name="EnableViewportScale" value="false"/>
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#ffffff" />
        <preference name="StatusBarStyle" value="default" />

        <icon src="res/icons/ios/icon-1024.png" width="1024" height="1024" />
        <icon src="res/icons/ios/icon-small.png" width="29" height="29" />
        <icon src="res/icons/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="res/icons/ios/icon-small@3x.png" width="87" height="87" />
        <icon src="res/icons/ios/icon-small-40.png" width="40" height="40" />
        <icon src="res/icons/ios/icon-small-40@2x.png" width="80" height="80" />
        <icon src="res/icons/ios/icon-small-40@3x.png" width="120" height="120" />
        <icon src="res/icons/ios/icon-small-50.png" width="50" height="50" />
        <icon src="res/icons/ios/icon-small-50@2x.png" width="100" height="100" />
        <icon src="res/icons/ios/icon.png" width="57" height="57" />
        <icon src="res/icons/ios/icon@2x.png" width="114" height="114" />
        <icon src="res/icons/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icons/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/icons/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/icons/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icons/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="res/icons/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icons/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="res/icons/ios/icon-167.png" width="167" height="167" />
        <icon src="res/icons/ios/icon-83.5@2x.png" width="167" height="167" />

        <!-- Legacy portrait -->
        <splash src="res/screens/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screens/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screens/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screens/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screens/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screens/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screens/ios/Default-736h.png" width="1242" height="2208"/>
    </platform>
	
	<platform name="android">

        <icon density="ldpi" src="res/icons/android/ldpi.png"/>
        <icon density="mdpi" src="res/icons/android/mdpi.png"/>
        <icon density="hdpi" src="res/icons/android/hdpi.png"/>
        <icon density="xhdpi" src="res/icons/android/xhdpi.png"/>
        <icon density="xxhdpi" src="res/icons/android/xxhdpi.png"/>
        <icon density="xxxhdpi" src="res/icons/android/xxxhdpi.png"/>

        <!-- Portrait -->
        <splash density="port-ldpi" src="res/screens/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screens/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screens/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screens/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screens/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screens/android/splash-port-xxxhdpi.png" />
    </platform>
                                                                                        
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-globalization" /> 
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="onesignal-cordova-plugin" spec="^2.0" />
    
</widget>
